h1. Introduction

Working with value object is a great help in daily work of software developer. There are several
advantages from which you will benefit:

* Clearer interfaces, you could see the business objects in the signature.
* Easier refactoring, the type information makes refactoring more secure.
* Higher quality, the possibility of accidental change of types are eliminated.
* Easier maintenance, the technical type is already provided by design.

This library should reduce the technical afford to introduce or start with value objects
by providing reusable wrapper types. The wrapper is not very complicated and everyone
could write his own set, but I don’t want to do that every time for a new project. So I
decided to write this library.

h1. Installation

Released builds are available from Maven repository at Bintray:

{code}
  http://dl.bintray.com/javanarior/maven
{code}

To add the library to your maven build include the following dependency

{code}
    <dependency>
        <groupId>de.javanarior.library</groupId>
        <artifactId>vo-lib</artifactId>
        <version>${project.version}</version>
    <dependency>
{code}

Here you will find further examples how to [include the artifacts for various build tools|dependency-info.html].

h1. Usage

Examples how to use the Library are on the [Usage|usage/index.html] page under [Examples|usage/example.html].

h1. Changelog

Changes and new features will be noted here [Change Log|changes-report.html]

h1. License

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    [http://www.apache.org/licenses/LICENSE-2.0|http://www.apache.org/licenses/LICENSE-2.0]

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
